section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

section .imgbx {
  position: relative;
  width: 50%;
  height: 100%;
}

section .imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .loginbx {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

section .loginbx .formbx {
  width: 50%;
}

section .loginbx .formbx h4 {
  color: #607d8b;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid #ff4584;
  display: inline-block;
  letter-spacing: 1px;
}

section .loginbx .formbx .inputbx {
  margin-bottom: 20px;
}

section .loginbx .formbx .inputbx span {
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #607d8b;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
}

section .loginbx .formbx .inputbx input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8b;
  font-size: 16px;
  letter-spacing: 1px;
  color: #607d8b;
  background: transparent;
  border-radius: 30px;
}

section .loginbx .formbx .inputbx input[type="submit"] {
  background: #ff4584;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

section .loginbx .formbx .inputbx input[type="submit"]:hover {
  background: #f53677;
}

@media (max-width: 768px) {
  section .imgbx {
    display: none;
  }

  section .loginbx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
